<!-- On inclus le contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">
			<h1 class="text-center m-4">Contact</h1>

			<div class="card bg-light mb-4">
				<div class="card-header">Contact us</div>
				<div class="card-body">
					<h5 class="card-title">Please don't.</h5>
					<p class="card-text">Really ??? ok... here is a mail : <a href="mailto:dont@contact.us">dont@contact.us</a></p>
					<p class="card-text">Ok, please contact us for the corrections, it was a joke and we're on Slack ❤ </a></p>
				</div>
			</div>

		</div>
	</div>
</div>